---
title: "[Museroom] Your connection request has been accepted."
preheader: "Gabriel, your connection request has been accepted by Jeff."
bodyClass: bg-gray-100
recipientName: Gabriel
senderName: Jeff
---

<extends src="src/layouts/museroom2.html">
  <block name="museroom">
    <div>
      <p class="font-semibold">Hi, {{{page.recipientName}}} 👋,</p>
    </div>

    <div>
      <p>Click on the button below to reset your password.</p>
      <div class="leading-full">
        <component src="src/components/button.html">
          <span>Reset Password</span>
        </component>
      </div>
    </div>
  </block>
</extends>
