---
title: "[Museroom] You have new connection request."
preheader: "Gabriel, you have new connection request from Jeff."
bodyClass: bg-gray-100
recipientName: Gabriel
senderName: Jeff
profileUrl: https://staging.museroom.co/u/Skilledd
notificationUrl: https://staging.museroom.co/notifications
---

<extends src="src/layouts/museroom.html">
  <block name="museroom">
    <div>
      <p class="font-semibold">Hi, {{{page.recipientName}}} 👋,</p>
      <p>You have a new connection request from {{{page.senderName}}}.</p>
    </div>

    <div>
      <p>Click the button below to view their profile...</p>
      <a href="{{{ page.profileUrl }}}" class="button-link" target="_blank"
        >Profile</a
      >
    </div>

    <div>
      <p>
        ...or go to your notification page to reply to {{{page.senderName}}}.
      </p>
      <a href="{{{ page.notificationUrl }}}" class="button-link" target="_blank"
        >Notification</a
      >
    </div>
  </block>
</extends>
