<!-- <button
  class="cursor-pointer px-32 py-8 bg-black text-white border border-solid border-black hover:bg-gray-600 transition-colors outline-none focus:outline-none disabled:text-gray-400 max-w-max focus:bg-gray-600 rounded-full relative block no-underline"
  type="button"
>
  <content></content>
</button> -->

<!-- 
  not using this component,
  passing props not working,
  at least for me
-->
<a
  href="{{page.url}}"
  class="px-32 py-8 bg-black text-white border border-solid border-black hover:bg-gray-600 transition-colors outline-none focus:outline-none disabled:text-gray-400 max-w-max focus:bg-gray-600 rounded-full relative block no-underline"
  target="_blank"
  ><content></content
></a>
