/*
 * Here is where you can add your global email CSS resets.
 *
 * We use a custom, email-specific CSS reset, instead
 * of Tailwind's web-optimized base.
*/

body {
  @apply m-0 p-0 w-full;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
}

img {
  @apply max-w-full leading-full align-middle;
  border: 0;
}

.button-link {
  @apply px-32 py-8 bg-black text-white border border-solid border-black hover:bg-gray-600 transition-colors outline-none focus:outline-none disabled:text-gray-400 max-w-max focus:bg-gray-600 rounded-full relative block no-underline;
}
